@charset "UTF-8";

/* 全体・共通のスタイル */
html {
  font-size: 10px;
}

body {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  font-family: source-han-sans-japanese, montserrat, sans-serif, a-otf-midashi-mi-ma31-pr6n, serif;
  text-align: center;
  background: #fff;
  color: #3B4043;
}

.wrap {
  overflow: hidden;
}

img {
  width: 430px;
  height: 332px;
  object-fit: contain;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 48px;
  color: #3B4043;
}

h2 span {
  color: #FF4A6C;
}

.flex {
  display: flex;
  align-items: center;
}

a:hover {
  opacity: .7;
}


/* header */
header {
  height: 100px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  width: 50%;
}

.header-right {
  width: 50%;
  justify-content: flex-end;
}

.header-left-img {
  width: 257px;
  height: 40px;
}

.header-text {
  font-size: 2rem;
  font-weight: bold;
}

.header-right-img {
  width: 14px;
  height: 14px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.header-link-left {
  width: 154px;
  padding: 10px;
  background-color: #74CAF3;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}

.header-link-left i,
.header-link-right i {
  margin-right: 10px;
}

.header-link-right {
  width: 218px;
  padding: 10px;
  background-color: #005DB9;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}


/* firstview */
.firstview {
  margin-bottom: 49px;
  background: url(../img/bgimg.png)center center / cover;
  color: #fff;
  text-align: right;
}

.firstview-text {
  width: 70%;
  padding-top: 57px;
  margin-left: 370px;
  margin-bottom: 280px;
  text-align: left;
  line-height: 70px;
}

.firstview-text-top {
  font-size: 4.6rem;
  font-weight: bold;
}

.firstview-text-bottom,
.firstview-text-bold {
  font-size: 7.5rem;
  font-weight: 900;
}

.firstview-span-bg {
  position: relative;
  width: 76px;
  height: 76px;
  background-color: #FF4A6C;
  display: inline-block;
  border-radius: 50%;
}

.firstview-text span {
  font-size: 23px;
  line-height: 26px;
  position: absolute;
  top: 16px;
  left: 14px;
}

.firstview-bottom {
  font-size: 1.6rem;
  font-weight: bold;
  padding-bottom: 60px;
}

.firstview-btn-left a {
  background-color: #005DB9;
  padding: 13px 80px;
  box-shadow: 0 4px 2px #003264;
}

.firstview-btn-right a {
  background-color: #74CAF3;
  box-shadow: 0 4px 2px #408DB2;
  padding: 13px 80px;
}

.firstview-btn-left {
  margin-left: 560px;
  margin-right: 30px;
  text-align: center;
}

.firstview-btn-right {
  text-align: center;
}

.firstview-btn-left a,
.firstview-btn-right a {
  margin-bottom: 13px;
  display: block;
}


/* slide */
.slide {
  width: 80%;
  margin: 0 auto 49px;
  font-size: 1.8rem;
  color: #3B4043;
}

.slide h2 {
  margin-bottom: 13px;
}

/* Swiper */
.swiper-slide a {
  color: #005DB9;
}

.swiper-text {
  font-size: 1.8rem;
  font-weight: bold;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.swiper-btn-right {
  font-size: 5rem;
  color: #98A6B5;
}

.swiper-btn-left {
  font-size: 5rem;
  color: #98A6B5;
}



/* china */
.china {
  width: 90%;
  margin: 0 auto 44px;
}

.china h2 {
  margin-bottom: 15px;
}

.china-top-text {
  margin-bottom: 29px;
  font-size: 1.8rem;
}

.china-contents {
  justify-content: space-around;
}

.china-content {
  width: 30%;
  font-size: 2.4rem;
  font-weight: bold;
}

.group-img {
  width: 145px;
  height: 177px;
  margin-bottom: 15px;
}

.gold-img {
  width: 226px;
  height: 176px;
  margin-bottom: 15px;
}

.bath-img {
  width: 168px;
  height: 161px;
  margin-bottom: 15px;
}


/* online-lesson */
.logo-title-img {
  width: 33px;
  height: 40px;
}

.title-color-red {
  color: #FF4A6C;
  font-style: 31px;
  margin-right: 63px;
  font-weight: normal;
}

.online-lesson {
  margin-bottom: 30px;
}

.online-lesson h2 {
  margin-bottom: 39px;
}

.online-lesson .flex {
  width: 100%;
}

.online-lesson-imgs {
  width: 25%;
}

.title-img {
  width: 267px;
  height: 50px;
}


/* elected */
.elected {
  margin-bottom: 24px;
  background-color: #74CAF3;
  text-align: left;
}

.elected-contents {
  align-items: start;
}

.elected-text-top {
  color: #FFFF00;
  font-size: 3rem;
  font-weight: bold;
}

.elected-text-bottom {
  font-size: 2rem;
}

.elected-text {
  margin-top: 42px;
}


/* newspaper */
.newspaper {
  margin-bottom: 30px;
  justify-content: space-around;
  align-items: stretch;
  text-align: left;
}

.newspaper img {
  width: 480px;
  height: 382px;
}

.newspaper p {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 30px;
}


/* teacher */
.teacher {
  width: 95%;
  margin: 0 auto 34px;
}

.teacher h2 {
  margin-bottom: 37px;
}

.teacher-items {
  align-items: stretch;
}

.teacher-items p {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: left;
  margin-top: 35px;
}


/* curriculum */
.curriculum {
  width: 90%;
  margin: 0 auto 67px;
}

.curriculum h2 {
  margin-bottom: 20px;
}

.curriculum-flow {
  justify-content: space-around;
  margin-bottom: 20px;
}

.curriculum-flow>p {
  font-size: 1.8rem;
  line-height: 34px;
  text-align: left;
}

.curriculum-icon img {
  width: 142px;
  height: 113px;
}

.curriculum-icon p {
  font-size: 1.2rem;
}

.curriculum i {
  font-size: 4rem;
  margin-bottom: 40px;
  color: #74CAF3;
}

.curriculum span {
  color: #FF4A6C;
}

.curriculum-btn {
  width: 302px;
  height: 40px;
  margin: 0 auto;
  line-height: 40px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  display: block;
  background-color: #74CAF3;
  box-shadow: 0 4px 4px #408DB2;
}


/* warranty */
.warranty {
  width: 80%;
  margin: 0 auto 60px;
  font-size: 1.8rem;
}

.warranty h2 {
  margin-bottom: 19px;
}

.warranty-text {
  border: 10px solid #F0F3F5;
  padding: 31px 80px;
}

.warrantry-text-bold {
  font-size: 2.4rem;
  font-weight: bold;
}

.warranty-text span {
  font-weight: bold;
  color: #FF4A6C;
}


/* stepup */
.stepup {
  margin: 0 auto 50px;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 44px 0 48px;
  background-color: rgba(255, 74, 108, 0.15);
}

.stepup h2 {
  margin-bottom: 20px;
}

.stepup-contents>img {
  width: 445px;
  height: 275px;
  margin-right: 30px;
}

.stepup-contents {
  justify-content: center;
  align-items: stretch;
}

.stepup-contents li img {
  width: 22px;
  height: 19px;
  margin-bottom: 18px;
}

.stepup li {
  text-align: left;
  line-height: 48px;
}

.stepup ul {
  width: 635px;
  margin-bottom: 36px;
}

.stepup i {
  font-size: 4.5rem;
  color: #FF4A6C;
  margin-bottom: 21px;
}

.stepup-bottom-items {
  position: relative;
}

.stepup-bottom-items p {
  font-size: 3.6rem;
  font-weight: bold;
}

.stepup-bracket-left {
  position: absolute;
  top: -20px;
  left: 65px;
  width: 255px;
  height: 50px;
  border-top: 3px solid #FF4A6C;
  border-left: 3px solid #FF4A6C;
}

.stepup-text {
  font-family: a-otf-midashi-mi-ma31-pr6n, serif;
  font-size: 3.6rem;
  font-weight: bold;
}

.stepup-bracket-right {
  position: absolute;
  bottom: 0;
  right: 65px;
  width: 255px;
  height: 50px;
  border-right: 3px solid #FF4A6C;
  border-bottom: 3px solid #FF4A6C;
}

.stepup-bottom-items p {
  color: #FF4A6C;
}


/* appeal */
.appeal {
  margin-bottom: 40px;
}

.appeal h2 {
  margin-bottom: 11px;
}

.appeal-contents {
  justify-content: space-around;
  align-items: stretch;
}

.appeal-content {
  width: 20%;
}

.appeal-content img {
  width: 200px;
  height: 200px;
  margin-bottom: 19px;
}

.appeal-content-title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 20px;
  height: 150px;
}

.appeal-text-normal {
  font-size: 1.2rem;
}


/* company */
.company {
  margin-bottom: 46px;
}

.company img {
  width: 950px;
  height: 496px;
}


/* price */
.price {
  margin-bottom: 47px;
}

.price h2 {
  margin-bottom: 10px;
}

.price-text-top {
  font-size: 1.8rem;
}

h3 {
  margin-bottom: 20px;
}

.price-contents {
  margin-bottom: 24px;
}

.price-objective {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: left;
}

.price-content {
  padding: 18px;
  border: 1px solid #05942C;
  background-color: rgba(5, 148, 44, 0.2);
  justify-content: space-around;
}

.price-content-left {
  width: 20%;
}

.price-content-bold {
  padding: 10px 40px;
  margin-bottom: 15px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  background-color: #05942C;
}

.price-content-small {
  font-size: 1.2rem;
}

.price-content-small span {
  font-weight: bold;
}
.price-content-right span {
  font-size: 4rem;
  font-weight: bold;
}

.price-content i {
  font-size: 2.5rem;
  color: #05942C;
}

.price-text-center {
  width: 50%;
  font-size: 1.4rem;
  text-align: left;
}

.price-content-right {
  width: 20%;
  font-size: 2.4rem;
}

.price-content-right span {
  font-family: montserrat, sans-serif;
}

.price-content:not(:last-child) {
  margin-bottom: 20px;
}


.price-text-between {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.4rem;
  margin-bottom: 0;
  text-align: left;
}

.price ul li {
  font-size: 1.8rem;
  text-align: left;
  line-height: 2.8rem;
}

.price ul {
  margin-bottom: 30px;
}

.price ul li span {
  color: #05942C;
}


.order-plan {
  margin-bottom: 30px;
}

.order-plan h3 {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 15px;
}

.order-content {
  width: 45%;
  padding: 18px;
  background-color: #CCDEF1;
  border: 1px solid #005DB9;
  border-radius: 5px;
  justify-content: space-between;
}

.order-contents {
  justify-content: space-between;
}

.order-content-bold {
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #005DB9;
  padding: 5px 10px;
  margin-bottom: 7px;
}

.order-content-left {
  width: 50%;
}

.fa-chevron-right {
  font-size: 2.5rem;
  color: #005DB9;
  margin-left: 45px;
}

.order-plan-price {
  width: 45%;
  font-size: 4rem;
  font-weight: bold;
}

.order-plan-price span {
  font-size: 2.4rem;
  font-weight: normal;
  font-family: montserrat, sans-serif;
}

.order-content-smalltext span {
  font-weight: bold;
}

.order-bottom-small {
  font-size: 1.2rem;
  text-align: right;
}

.order-plan-bottom p {
  font-size: 3.6rem;
  font-weight: bold;
  color: #005DB9;
  line-height: 48px;
}

.order-bottom-text {
  font-family: a-otf-midashi-mi-ma31-pr6n, serif;
  font-size: 3.6rem;
  font-weight: bold;
}



/* trial */
.trial {
  margin-bottom: 55px;
  padding: 50px 0;
  background-color: #FF4A6C;
}

.trial h2 {
  color: #fff;
  margin-bottom: 15px;
}

.trial-bg {
  width: 660px;
  height: 202px;
}

.trial-center {
  position: relative;
}

.trial-center-content {
  position: absolute;
  top: 26px;
  left: 360px;
}

.trial-text {
  font-size: 1.8rem;
}
.trial-text-bold {
  font-size: 2.2rem;
  font-weight: bold;
}

.trial-btn-experience {
  width: 350px;
  padding: 13px 43px;
  margin: 0 auto 12px;
  font-weight: bold;
  display: block;
  font-size: 2rem;
  color: #FF4A6C;
  background-color: #fff;
  border: 2px solid #FF4A6C;
  box-shadow: 0 4px 4px #B24040;
}

.trial-btn-contact {
  width: 350px;
  padding: 13px 43px;
  margin: 0 auto 60px;
  font-weight: bold;
  display: block;
  font-size: 2rem;
  color: #fff;
  background-color: #FF4A6C;
  border: 2px solid #fff;
  box-shadow: 0 4px 4px #B24040;
}


/* introduction */
.introduction {
  width: 90%;
  margin: 0 auto;
}
.introduction-color-img {
  width: 270px;
  height: 51px;
  margin-right: 19px;
}

.introduction-top {
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 26px;
}

.introduction-top-text {
  text-align: left;
  font-size: 1.8rem;
  font-weight: bold;
}

.introduction-flow {
  font-size: 2.4rem;
  margin-bottom: 43px;
  padding-left: 10px;
  color: #3B4043;
  font-weight: bold;
  background-color: #98A6B5;
  border-radius: 50px;
  text-align: left;
}

.introduction-flow span {
  color: #fff;
}

.introduction-contents {
  justify-content: space-around;
  align-items: stretch;
}

.introduction-content {
  width: 23%;
}

.introduction-content-text {
  font-size: 1.8rem;
  margin-bottom: 43px;
  font-weight: bold;
}

.introduction-ticket {
  width: 134px;
  height: 77px;
}

.introduction-tv {
  width: 140px;
  height: 95px;
}

.introduction-plan {
  width: 105px;
  height: 100px;
}

.introduction-constraint {
  width: 127px;
  height: 101px;
  margin-bottom: 10px;
}

.introduction-content-arrow {
  margin-top: 100px;
  font-size: 1.9rem;
  color: #005DB9;
}

.introduction-content-support{
  margin-bottom: 45px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #005DB9;
}


/* footer */
.footer {
  background-color: #F0F3F5;
  font-size: 1.2rem;
  text-align: left;
}

.footer-wrapper {
  padding-top: 38px;
  padding-bottom: 34px;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-left-sale, 
.footer-left-business,
.footer-center-management,
.footer-center-netstar {
  font-weight: bold;
}

.footer-left-sale,
.footer-center-management {
  margin-bottom: 10px;
}


.footer-color-img {
  width: 270px;
  height: 51px;
  margin-bottom: 6px;
}

.footer-china-img {
  width: 262px;
  height: 52px;
  margin-bottom: 6px; 
}

.footer-content-last {
  text-align: center;
}

.copy-right {
  padding: 15px 0 18px;
  background-color: #3B4043;
  color: #fff;
  text-align: center;
}