@charset "UTF-8";

/* 全体・共通のスタイル */
html {
  font-size: 10px;
}
body {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "源ノ角ゴシック, Montserrat, メイリオ";
  text-align: center;
  background: #fff;
  color: #3B4043;
}
.wrap {
  overflow: hidden;
}
img{
  width: 430px;
  height: 332px;
  object-fit: contain;
}
h2 {
  font-size: 36px;
  font-weight: bold;
  font-family: '源ノ角ゴシック JP';
  line-height: 48px;
  color: #3B4043;
}
h2 span {
  color: #FF4A6C;
}

.flex {
  display: flex;
  align-items: center;
}

a:hover {
  opacity: .7;
}

  /* }
.stepup-bottom p, .order-plan-bottom p {
  font-size: 36px;
  font-weight: bold;
}
.elected p:first-child, .newspaper p {
  font-size: 30px;
  font-weight: bold;
}
.china .content p, .teacher p,.warranty p:first-child, .stepup li, .appeal .content p:first-of-type, h3 {
  font-size: 24px;
  font-weight: bold;
}
.header-text, .elected p:nth-of-type(n+2), .price > p:nth-of-type(3){
   font-size: 20px;
   font-weight: bold;
 }
.slide-link p, .slide-link a, .warranty p:last-child, .price > p, .price > p:nth-of-type(3){
  font-size: 18px;
}
.header-link-right, .bottom-content .left, .bottom-content .right, .curriculum a, .price .left p:first-of-type {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.curriculum .icon p, .appeal .content p:last-of-type, .price .left p:last-of-type, .order-content p:nth-of-type(2), .price > p:nth-of-type(2), .order-plan > p {
  font-size: 12px;
} */
 

/* header */ 
header {
  height: 100px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.header-left {
  width: 50%;
}
.header-right {
  width: 50%;
  justify-content: flex-end;
}
.header-left-img{
  width: 257px;
  height: 40px;
}
.header-text {
  font-size: 2rem;
  font-weight: bold;
}
.header-right-img {
  width: 14px;
  height: 14px;
  margin-right: 4px;
  margin-bottom: 4px;
}
.header-link-left {
  width: 154px;
  padding: 10px;
  background-color: #74CAF3;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}
.header-link-left i, .header-link-right i {
  margin-right: 10px;
}
.header-link-right {
  width: 218px;
  padding: 10px;
  background-color: #005DB9;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}


/* firstview */
.firstview {
  margin-bottom: 49px;
  background: url(../img/background.png)center center / cover;
  color: #fff;
  text-align: right;
}
.firstview-text {
  width: 70%;
  padding-top: 56px;
  margin-left: 370px;
  margin-bottom: 280px;
  text-align: left;
  line-height: 70px;
}
.firstview-text-top {
  font-size: 4.6rem;
  font-weight: bold;
}
.firstview-text-bottom, .firstview-text-bold {
  font-size: 7.5rem;
  font-weight: bold;
}
.firstview-span-bg {
  position: relative;
  width: 76px;
  height: 76px;
  background-color: #FF4A6C;
  display: inline-block;
  border-radius: 50%;
}
.firstview-text span {
  font-size: 23px;
  position: absolute;
  top: 5px;
  left: 14px;
  line-height: normal;
}
.firstview-bottom {
  font-size: 1.6rem;
  font-weight: bold;
  padding-bottom: 60px;
}
.firstview-btn-left a{
  background-color: #005DB9;
  padding: 13px 80px;
  box-shadow: 0 4px 2px #003264;
}
.firstview-btn-right a {
  background-color: #74CAF3;
  box-shadow: 0 4px 2px #408DB2;
  padding: 13px 80px;
}
.firstview-btn-left{
  margin-left: 560px;
  margin-right: 30px;
  text-align: center;
}
.firstview-btn-right{
  margin-right: 85px;
  text-align: center;
}
.firstview-btn-left a, .firstview-btn-right a {
  margin-bottom: 13px;
  display: block;
}


/* slide */
.slide {
  width: 80%;
  margin: 0 auto 49px;
  font-size: 1.8rem;
  color: #3B4043;
}
.slide i {
  font-size: 5rem;
  color: #98A6B5;
}
.slideshow {
  position: relative;
}
.slide h2 {
  margin-bottom: 13px;
}
.slide-link p {
  font-weight: bold;
}
.slide-link a {
  color: #005DB9;
}
.slide-link a:hover {
  opacity: .5;
}
.slide-arrow-left {
  position: absolute;
  top: 0;
  left: 0;
}
.slide-arrow-right {
  position: absolute;
  top: 0;
  right: 0;
}
.slide-link:nth-of-type(n+2) {
  display: none;
}


/* china */
.china {
  width: 80%;
  margin: 0 auto 44px;
}
.china h2 {
  margin-bottom: 15px;
}
.china > p {
  margin-bottom: 29px;
} 
.china .flex {
  justify-content: space-between;
}
.china-content img {
  width: 144px;
  height: 177px;
}


/* online-lesson */
.online-lesson {
  margin-bottom: 30px;
}
.online-lesson h2{
  margin-bottom: 39px;
}
.online-lesson .flex {
  width: 100%;
}
.online-lesson img {
  width: 25%;
}
.title-img{
  width: 267px;
  height: 50px;
}


/* elected */ 
.elected {
  margin-bottom: 24px;
  background-color: #74CAF3;
  text-align: left;
}
.elected-contents {
  align-items: start;
}
.elected-text-top {
  color: #FFFF00;
  font-size: 3rem;
  font-weight: bold;
}
.elected-text-bottom{
  font-size: 2rem;
}
.elected-text {
  margin-top: 42px;
}


/* newspaper */
.newspaper {
  margin-bottom: 70px;
  justify-content: space-around;
  align-items: stretch;
  text-align: left;
}
.newspaper img {
  width: 480px;
  height: 382px;
}
.newspaper p {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 30px;
}


/* teacher */
.teacher {
  width: 95%;
  margin: 0 auto 74px;
}
.teacher h2 {
  margin-bottom: 37px;
}
.teacher-items {
  align-items: stretch;
}
.teacher-items p {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: left;
  margin-top: 35px;
}


/* curriculum */
.curriculum {
  width: 90%;
  margin: 0 auto 67px;
}
.curriculum h2 {
  margin-bottom: 20px;
}
.curriculum-flow {
  justify-content: space-around;
  margin-bottom: 20px;
}
.curriculum-flow > p{
  font-size: 1.8rem;
  line-height: 34px;
  text-align: left;
}
.curriculum-icon img {
  width: 142px;
  height: 113px;
}
.curriculum-icon p {
  font-size: 1.2rem;
}
.curriculum i {
  font-size: 4rem;
  margin-bottom: 40px;
  color: #74CAF3;
}
.curriculum span {
  color: #FF4A6C;
}
.curriculum-btn {
  width: 302px;
  height: 40px;
  margin: 0 auto;
  line-height: 40px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  display: block;
  background-color: #74CAF3;
  box-shadow: 0 4px 4px #408DB2;
}


/* warranty */
.warranty {
  width: 80%;
  margin: 0 auto 60px;
  font-size: 1.8rem;
}
.warranty h2 {
  margin-bottom: 19px;
}
.warranty-text {
  border: 10px solid #F0F3F5;
  padding: 31px 80px;
}
.warrantry-text-bold {
  font-size: 2.4rem;
  font-weight: bold;
}
.warranty-text span {
  font-weight: bold;
  color: #FF4A6C;
}


/* stepup */
.stepup {
  margin: 0 auto 50px;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 44px 0 48px;
  background-color: rgba(255, 74, 108, 0.15);
}
.stepup h2 {
  margin-bottom: 20px;
}
.stepup-contents > img {
  width: 445px;
  height: 275px;
  margin-right: 30px;
}
.stepup-contents {
  justify-content: center;  
  align-items: stretch;
}
.stepup-contents li img {
  width: 22px;
  height: 19px;
  margin-bottom: 18px;
}
.stepup li {
  text-align: left;
  line-height: 48px;
}
.stepup ul {
  width: 635px;
  margin-bottom: 36px;
}
.stepup i {
  font-size: 4.5rem;
  color: #FF4A6C;
  margin-bottom: 21px;
}
.stepup-bottom-items {
  position: relative;
}
.stepup-bottom-items p {
  font-size: 3.6rem;
  font-weight: bold;
}
.stepup-bracket-left {
  position: absolute;
  top: -20px;
  left: 65px;
  width: 255px;
  height: 50px;
  border-top: 3px solid #FF4A6C;
  border-left: 3px solid #FF4A6C;
}
.stepup-bracket-right {
  position: absolute;
  bottom: 0;
  right: 65px;
  width: 255px;
  height: 50px;
  border-right: 3px solid #FF4A6C;
  border-bottom: 3px solid #FF4A6C;
}

.stepup-text-left {
  position: absolute;
  top: -20px;
  left: 77px;
}
.stepup-text-right {
  position: absolute;
  bottom: -10px;
  right: 80px;
}
.stepup-bottom-items p {
  color: #FF4A6C;
}


/* appeal */
.appeal {
  margin-bottom: 40px;
}
.appeal h2 {
  margin-bottom: 11px;
}
.appeal-contents {
  justify-content: space-around;
  align-items: stretch;
}
.appeal-content{ 
  width: 20%;
}
.appeal-content img {
  width: 200px;
  height: 200px;
  margin-bottom: 19px;
}
.appeal-content-title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 20px;
  height: 150px;
}
.appeal-text-normal {
  font-size: 1.2rem;
}


/* company */
.company {
  margin-bottom: 46px;
}
.company img {
  width: 950px;
  height: 496px;
}


/* price */
.price {
  margin-bottom: 47px;
}
.price h2 {
  margin-bottom: 10px;
}
.price-text-top {
  font-size: 1.8rem;
}
h3 {
  margin-bottom: 20px;
}
.price-contents {
  margin-bottom: 24px;
}
.price-content {
  padding: 18px;
  border: 1px solid #05942C;
  background-color: rgba(5, 148, 44, 0.2);
  justify-content: space-around;
}
.price-content-bold {
  padding: 10px 40px;
  margin-bottom: 15px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  background-color: #05942C;
}
.price-content-small {
  font-size: 1.2rem;
}
.price span {
  font-weight: bold;
}
.price-content i {
  font-size: 2.5rem;
  color: #05942C;
}
.price-text-center {
  font-size: 1.4rem;
}
.price-content-right {
  font-size: 2.4rem;
}
.price-content-right span {
  font-size: 4rem;
  font-weight: bold;
}
.price-content:not(:last-child) {
  margin-bottom: 20px;
} 
.price-content-left {
  width: 20%;
}
.price-content-bold {
  width: 50%;
}
.price-content-small{
  font-size: 1.2rem;
}
.price-text-between {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.4rem;
  margin-bottom: 0;
  text-align: left;
}
.price ul li {
  font-size: 1.8rem;
  text-align: left;
  line-height: 2.8rem;
  margin-bottom: 25px;
}
.price ul li span {
  color: #05942C;
}


.order-plan {
  margin-bottom: 30px;
}
.order-plan h3 {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 15px;
}
.order-content {
  width: 45%;
  padding: 18px;
  background-color: #CCDEF1;
  border: 1px solid #005DB9;
  border-radius: 5px;
  justify-content: space-between;
}
.order-contents {
  justify-content: space-between;
}
.order-content-bold {
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #005DB9;
  padding: 5px 10px;
  margin-bottom: 7px;
}
.order-content-left {
  width: 50%;
}
.order-plan i {
  font-size: 2.5rem;
  color: #005DB9;
}
.order-plan-price {
  width: 45%;
  font-size: 4rem;
  font-weight: bold;
}
.order-plan-price span {
  font-size: 2.4rem;
  font-weight: normal;
}
.order-content-smalltext span {
  font-weight: bold;
}
.order-bottom-small {
  font-size: 1.2rem;
  text-align: right;
}
.order-plan-bottom p {
  font-size: 3.6rem;
  font-weight: bold;
  color: #005DB9;
  line-height: 48px;
}


/* trial */
.trial {
  margin-bottom: 55px;
  padding: 50px 0;
  background-color: #FF4A6C;
}
.trial h2 {
  color: #fff;
  margin-bottom: 15px;
}
.trial-center img{
  width: 600px;
  height: 142px;
}
.trial-center {
  position: relative;
}
.trial-center-content {
  position: absolute;
  top: 10px;
  left: 10px;
}
